@* Message list: renders user and assistant bubbles *@
@using SmallEBot.Components.Chat.ViewModels.Bubbles
@inject IJSRuntime JS

<div @ref="_scrollRef" class="smallebot-chat-scroll">
    @foreach (var bubble in Bubbles)
    {
        @if (bubble is UserBubbleView user)
        {
            <UserBubbleViewComponent Model="@user"
                                     ShowEditButton="@ShowEditButtons"
                                     OnEdit="@OnEditMessage" />
        }
        else if (bubble is AssistantBubbleView asst)
        {
            <AssistantBubbleViewComponent Model="@asst"
                                          ShowToolCalls="@ShowToolCalls"
                                          OnRegenerate="@OnRegenerateReply" />
        }
    }

    @* Optimistic user message *@
    @if (PendingUserMessage != null)
    {
        <UserBubbleViewComponent Model="@PendingUserMessage" ShowEditButton="false" />
    }
</div>
